[Desktop Entry]
Name=pisiörümcekagı

X-KDE-PluginInfo-Name=pisiörümcekagı
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3  
  
