[Desktop Entry]
Name=Crocus ancyrensis

X-KDE-PluginInfo-Name=Crocus ancyrensis
X-KDE-PluginInfo-Author=Sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
