[Desktop Entry]
Name=pisipati

X-KDE-PluginInfo-Name=pisipati
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3  
   
