[Desktop Entry]
Name=pisipembesi

X-KDE-PluginInfo-Name=pisipembesi
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3   
