[Desktop Entry]
Name=Blueblack

X-KDE-PluginInfo-Name=Blueblack
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
