[Desktop Entry]
Name=Pisi-Crocus-Ancyrensis-2

X-KDE-PluginInfo-Name=Pisi-Crocus-Ancyrensis-2
X-KDE-PluginInfo-Author=Sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
