[Desktop Entry]
Name=Sweet-cat

X-KDE-PluginInfo-Name=Sweet-cat
X-KDE-PluginInfo-Author=Sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
