[Desktop Entry]
Name=pisiörümcek

X-KDE-PluginInfo-Name=pisiörümcek
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3  
 
