[Desktop Entry]
Name=Red Black

X-KDE-PluginInfo-Name=Red Black
X-KDE-PluginInfo-Author=Sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
