[Desktop Entry]
Name=pisibalpetegim

X-KDE-PluginInfo-Name=pisibalpetegim
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3 
