[Desktop Entry]
Name=pisigözü

X-KDE-PluginInfo-Name=pisigözü
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3 
