[Desktop Entry]
Name=pisikırmızılım

X-KDE-PluginInfo-Name=pisikırmızılım
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3  
