[Desktop Entry]
Name=pisiadınısenkoy

X-KDE-PluginInfo-Name=pisiadınısenkoy
X-KDE-PluginInfo-Author=sebo28
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
