[Desktop Entry]
Name=color-burst

X-KDE-PluginInfo-Name=color-burst
X-KDE-PluginInfo-Author=Mcder3
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
